:root {
    --accent-color: #2196F3;
    --main-color: #212121;
    --background-color: #2F303A;
    --section-color: #F5F4FA;
    --logo-color: rgba(255, 255, 255, 0.60);
}
.active {
    color: var(--main-color);
}
.visited {
    color: #2196F3;
}
.hover {
    color: #212121;
}
.basic {
    background-color: #2F303A;
    background-size: 1600px 600px;
}
.photo{
    background-color: #F5F4FA;
}
.address {
    background-color: #212121;
}
.gmail {
    color: var(--logo-color);
    font-family: 'Roboto', sans-serif;
}
.tel {
    color: var(--logo-color);
    font-family: 'Roboto', sans-serif;
}
.text {
    color: #F5F4FA;
    font-family: 'Roboto', sans-serif;
}
.visited {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.active {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.hover {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #F5F4FA;
}
.title3 {
    font-family: 'Roboto', sans-serif;
}
.text2 {
    font-family: 'Roboto', sans-serif;
}
.title2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.title4 {
    font-family: 'Roboto', sans-serif;
}
.text3 {
    font-family: 'Roboto', sans-serif; 
}
.name{
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color) 
}
.name2{
    color: black;
    font-family: 'Raleway', sans-serif;
}
.name3{
    color: white;
    font-family: 'Raleway', sans-serif;
}
.link {
    text-decoration: none;
}
.menu{
    list-style: none;
}
.menu__sub {
    list-style: none;
}
.list {
    list-style: none;
}
.items {
    list-style: none;
}
.menu-list{
    list-style: none;
}
.alert-basic {
    background-color: var(--background-color);
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px; 
}
.article-container {
    margin-top: 94px;
    margin-bottom: 94px;
}